body {
  padding-top: 60px;
  font-family:Century Gothic,arial,sans-serif;
}

select {
 width: auto;
 min-width: 30px;
 max-width: 100px;
}

.background {
background-image: url(asset-path("bkg.png", image));
background-repeat: no-repeat;
background-size: 100%;
}

.row {
padding-top: 30px;
}

.faded-dates {
  color: #aaa;
}

.cal-title {
  font-size: 24px;
  font-weight: bold;
}

.table-calendar {
background: #fff;
opacity: 0.7;
}

.table-calendar td {
  height: 80px;
  width: 80px;
  overflow: auto;
}

.calendar-event--outside{
  padding: 2px;
}
.progress {
  margin: 2px;
  background-color: #a8a6a9;
  background-image: none;
}

.calendar-event {
  list-style-type:none;
	background-color:#db7093;
	color:white;
  padding:2px;
  border-radius: 5px;
}

.nav-centre {
  padding-top: 12px;
  font-size: 20px;
}

.future-events--list {
  color:#db7093;
}

.footer-content {
margin-top: -15px;
padding-right: 110px;
color: #a7a9aa;
text-shadow: 0 1px 0 #fff;
}