body {
  padding-top: 100px;
}


.table-calendar td {
  height: 80px;
  width: 80px;
  overflow: auto;
}



.calendar-event {
    list-style-type:none;
	background-color:black;
	color:white;
	padding:2px;
	border: solid 2px white;
}

.nav-centre {
  padding-top: 12px;
  font-size: 20px;
}